{% extends "../basic.html" %}
{% block content %}
		<!--
		<div class="col-lg-12 search-div">
			<form method="get" class="form-inline">
				<div class="form-control">
					<input type="text" placeholder="Search" />
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>
		-->
	{% for instance in object_list %}
		<a href="/rent/buildings/{{ instance.id }}">
			<div class="col-lg-6 panel panel-primary list-item">
				<h3 class="panel-heading">{{ instance.address }}</h3>
				<div class="panel-body">
					<img src="{{ instance.picture.url }}" class="img-thumbnail" />
				</div>
			</div>
		</a>
	{% endfor %}	
{% endblock %}
